<h1>Meeting rooms: <%= link_to @venue.name, venue_path(@venue) %></h1>
<table>
	<tr>
		<th colspan="5" style="text-align:right"><%= link_to 'Add New Meeting Room', new_venue_meeting_room_path %></th>
	</tr>
	<tr>
		<th>Room Name</th>
		<th>Action</th>
	</tr>
	<%- for meeting_room in @meeting_rooms %>
	<tr>
		<td><%= link_to meeting_room.room_name, [@venue, meeting_room] %></td>
		<td><%= button_to 'Delete', [@venue, meeting_room], :method => :delete, :confirm => "you sure?" %></td>
	</tr>
	<%- end %>
</table>