<%= form_for [@venue, @nearby_facility] do |f| %>
	
	<% if @nearby_facility.errors.any? %>
		<div id="error_explanation">
			
			<h2>Error occured</h2>
		</div>
	<% end %>
	
<div class="field">
	<%= f.label :facility%>
	<%= f.text_field :facility %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
