<h1>Nearby Facilities: <%= link_to @venue.name, venue_path(@venue) %> </h1>
<%= link_to 'Add Nearby Facility', new_venue_nearby_facility_path() %>
<table>
	<tr>
		<th>Facility</th>
		<th>Delete</th>
		
	</tr>
	<%- for facility in @nearby_facilities %>
		<tr>
			<td><%= link_to facility.facility, [@venue, facility] %></td>
			<td><%= button_to 'Delete', [@venue, facility], :method => :delete, :confirm => "you sure?" %></td>
		</tr>
	<%- end%>
</table>
