<%= form_for [@venue, @attraction] do |f| %>
	
	<% if @attraction.errors.any? %>
		<div id="error_explanation">
			
			<h2>Error occured</h2>
		</div>
	<% end %>
	
<div class="field">
	<%= f.label :attraction%>
	<%= f.text_field :attraction %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
