<h1>Venue Attraction: <%= link_to @venue.name, venue_path(@venue) %> </h1>
<%= link_to 'Add Venue Attraction', new_venue_attraction_path() %>
<table>
	<tr>
		<th>attraction</th>
		<th>Delete</th>
	</tr>
	<%- for attraction in @attractions %>
		<tr>
			<td><%= link_to attraction.attraction, [@venue, attraction] %></td>
			<td><%= button_to 'Delete', [@venue, attraction], :method => :delete, :confirm => "you sure?" %></td>
		</tr>
	<%- end%>
</table>
